*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #080808;
    color: #fff;
    
}


.container nav h1{
  /* Set the font size and family */
  width: 500px;
  font-size: 48px;
  font-family: Arial, sans-serif;

  /* Create a linear gradient with multiple colors */
  background: -webkit-linear-gradient(to right, 
    #0011ff 0%,
    #ff9900 20%,
    #ffff00 40%,
    #00ff00 60%,
    #00ffff 80%,
    #0000ff 100%
  );
  background: linear-gradient(to right, 
    #ff0000 0%,
    #ff9900 20%,
    #ffff00 40%,
    #00ff00 60%,
    #00ffff 80%,
    #0000ff 100%
  );

  /* Use the background-clip property to apply the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


#header{
   
    height: 90vh;
    background-repeat: no-repeat;
    background-image: url(image/image3.png);
    background-size: auto;
    background-position: bottom right;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: medium;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20px;
    font-size: 30px;
}
.header-text span{
    color:#ff004f
}
#about{
    padding: 80px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #00ffff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: greenyellow;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-links::after{
    width: 70%;

}

.tab-content ul li {
    list-style: none;
    margin: 10px 0;

}
.tab-content ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-content{
    display: none;
    margin: 15px 0 15px;
}
.tab-content.active-tab{
    display: block;
}


#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: palevioletred;
    transform: translateY(10px
    );
}