*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #080808;
    color: #fff;
    
}

  .welcome_sub_container {
    position: relative;
    overflow: hidden; /* Hide overflowing content from the pseudo-element */
    
}

.welcome_sub_container::before,
.welcome_sub_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1; /* Place the pseudo-element behind the content */
}

.welcome_sub_container::before {
    background-image: url('./Media/bg_img_02.jpg');
    background-repeat: no-repeat;
    background-size: contain;    
    animation: rotateBackground 20s linear infinite; /* Adjust the animation properties as needed */
}

.welcome_sub_container::after {
    background: rgba(153, 153, 153, 0.25);
    backdrop-filter: blur(50px);
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg) scale(4);
    }
    to {
        transform: rotate(360deg) scale(4); /* Adjust the scale factor as needed */
    }
}

@media only screen and (max-width: 420px){
    .welcome_sub_container::before {
        background-image: url('./Media/bg_img_04.jpg');
        background-size: cover;    
    }

    @keyframes rotateBackground {
        from {
            transform: rotate(0deg) scale(2);
        }
        to {
            transform: rotate(360deg) scale(2); /* Adjust the scale factor as needed */
        }
    }
}
  
.contact-link {
  text-decoration: none;
  color: inherit;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.icon {
  width: 100%;
  height: 100%;
}
.contact-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Nice box shadow */
}

.whatsapp-icon {
  color: #4CAF50; /* Green color for WhatsApp icon */
  font-size: 24px;
}

.contact-info {
  display: flex;
  align-items: center;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #333; /* Adjust color as needed */
}

.contact-link {
  text-decoration: none;
  color: #333; /* Adjust color as needed */
}

.whatsapp {
  display: flex;
  align-items: center;
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Adjust color as needed */
  font-weight: bold; /* Adjust font weight as needed */
}

  
  /* Cards Styling */
  .cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card i {
    font-size: 48px;
    color: #ff004f;
  }
  
  .card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: blueviolet;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333; /* Dark color */
  }
  
  .card .years,
  .card .number {
    font-size: 20px;
    font-weight: bold;
    color: #fff; /* Dark color */
  }
  

  /* Create a linear gradient with multiple colors */

  
  .header-text p {
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px #00ff00;
    background: url('image/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
  }
  
  @keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }
  

#about {
    padding: 80px 20px;
    color: #333;
}
#about h1{
    margin-top: 20px;
    text-align: center;
   color: #ff004f;

}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.about-col-1 {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 30px;
    padding: 0 15px;
}

.about-col-1 .flip-card {
    margin-top: 70px;
    margin-left:80px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 370px;
    height: 470px;
    perspective: 1000px;
}

.about-col-1 .flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}

.about-col-1 .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.about-col-1 .flip-card-front,
.about-col-1 .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
   
}

.about-col-1 .flip-card-front img,
.about-col-1 .flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-col-2 {
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0 15px;
}

.sub-title {
    font-size: 40px;
    font-weight: 600;
   
    margin-bottom: 30px;
}

p {
    color:white;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}



#services {
  padding: 30px 0;
}

#services h1 {
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 20px; /* Add margin at the beginning */
  margin-right: 20px; /* Add margin at the end */
}


.animated-border {
  border: 2px solid red;
  /* Initial border style */
  border-radius: 10px;
  animation: borderAnimation 4s infinite;
  /* Apply animation */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 350px; /* Increased height */
  width: 350px;
  margin-left: 10px; /* Add space to the left */
  margin-right: 10px; /* Add space to the right */
}

.services-list div {
  background: #262626;
  padding: 20px; /* Adjusted padding */
  font-size: 14px; /* Adjusted font size */
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto; /* Adjusted height */
}

.services-list div i {
  font-size: 30px;
  margin-bottom: 10px;
}

.services-list div h2 {
  font-size: 22px; /* Adjusted font size */
  font-weight: 500;
  margin-bottom: 10px;
}

.services-list div p {
  font-size: 14px; /* Adjusted font size */
  margin-bottom: 15px; /* Adjusted margin */
}

.services-list div a {
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

.services-list div:hover {
  background: palevioletred;
  transform: translateY(5px);
}

@keyframes borderAnimation {
  0% {
    border-color: red;
    box-shadow: 0 0 10px red;
  }
  25% {
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
  }
  50% {
    border-color: green;
    box-shadow: 0 0 10px green;
  }
  75% {
    border-color: blue;
    box-shadow: 0 0 10px blue;
  }
  100% {
    border-color: red;
    box-shadow: 0 0 10px red;
  }
}
  


#projects {
  padding: 50px;
  background-image: url('./image/wallpaper.png'); /* Replace 'your-image.jpg' with the path to your desired background image */
  background-size: cover;
  background-position: center;
}

#projects h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #fff; /* Change text color to white for better visibility */
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 420px; /* Increased card height */
  background: #fff; /* Add a background color */
}


.work:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.work img {
  width: 100%;
  height: calc(100% - 52px); /* Adjusted height for the image, leaving space for the buttons */
  object-fit: cover;
  display: block;
  transition: transform 0.5s;
}
.work p{
  color: #000;
}

.layer {
  padding: 20px;
  text-align: left;
  font-size: 14px;
  color: #000; /* Change text color to black */
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Fill the whole card */
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
  opacity: 0;
}

.work:hover .layer {
  opacity: 1;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.layer p {
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.btn-container a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-container a:hover {
  background-color: #ff004f;
}

.btn-container a:first-child {
  background-color: #00ff00;
}

.btn-container a:first-child:hover {
  background-color: #008000;
}
.btn-more {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #00ff00;
  padding: 15px 40px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
  text-align: center; /* Center text */
}

.btn-more:hover {
  background: #008000;
}
#contact {
  padding: 50px;

}

.contact-info-card,
.contact-form-card {
  padding: 0 15px; /* Add space to the left and right */
}

.card-contact,
.card {
  background-color: #262626;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-body {
  text-align: center;
}

.card-contact p,
.card-contact a {
  margin: 10px 0;
  color: #fff; /* Set text color to white */
}

.card-contact a.btn2 {
  background-color: #ff004f;
}

.card-contact a.btn2:hover {
  background-color: #ff003f;
}

.card-contact input,
.card-contact textarea,
.card input,
.card textarea {
  width: calc(100% - 40px);
  border: none;
  outline: none;
  padding: 20px;
  margin: 15px 0;
  color: #fff; /* Set text color to white */
  font-size: 18px;
  border-radius: 10px;
  background-color: #262626; /* Set background color */
  box-sizing: border-box;
}

.card-contact .btn2,
.card .btn2 {
  padding: 16px 60px;
  font-size: 20px;
  cursor: pointer;
}

.btn.btn3 {
  background-color: blue; /* Set button background color */
  color: white; /* Set button text color */
  transition: background-color 0.3s; /* Add transition effect */
}

.btn.btn3:hover {
  background-color: #ff004f;
}

.card-contact i,
.social-icons i {
  color: #fff; /* Set icon color to white */
  font-size: 24px;
}

.resume {
  justify-content: center;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
}

.copyright i {
  color: #ff0000;
}







@media only screen and (max-width: 576px) {
    
.sub-title{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis:100% ;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-col-1, .contact-col-2{
    flex-basis: 100%;
}
.copyright{
    font-size: 14px;
}

}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}



}
.name_code{
    font-family: 'Cute Font', sans-serif;
}

.glass{
    background: rgba(80, 79, 79, 0.25);
    backdrop-filter: blur(50px);
}
.glass_2{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
}
.glass_3{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
}
.glass_4{
    background: rgba(71, 71, 71, 0.25);
    backdrop-filter: blur(15px);
}

.welcome_sub_container {
    position: relative;
    overflow: hidden; /* Hide overflowing content from the pseudo-element */
    
}

.welcome_sub_container::before,
.welcome_sub_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1; /* Place the pseudo-element behind the content */
}

.welcome_sub_container::before {
    background-image: url('./Media/bg_img_02.jpg');
    background-repeat: no-repeat;
    background-size: contain;    
    animation: rotateBackground 20s linear infinite; /* Adjust the animation properties as needed */
}

.welcome_sub_container::after {
    background: rgba(153, 153, 153, 0.25);
    backdrop-filter: blur(50px);
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg) scale(4);
    }
    to {
        transform: rotate(360deg) scale(4); /* Adjust the scale factor as needed */
    }
}

@media only screen and (max-width: 420px){
    .welcome_sub_container::before {
        background-image: url('./Media/bg_img_04.jpg');
        background-size: cover;    
    }

    @keyframes rotateBackground {
        from {
            transform: rotate(0deg) scale(2);
        }
        to {
            transform: rotate(360deg) scale(2); /* Adjust the scale factor as needed */
        }
    }
}


