body {
    background-color:black;
    
    font-family: sans-serif;
    font-size: 1rem;
}

header {
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.jumbotron {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}